---
layout: default-generated.njk
---

<div class="form-code">
    <div class="reference">
        {% if documentation %}
        <a href="{{ documentation }}">Official Documentation</a>
        {% endif %}
        {% if github %}
        <a href="https://github.com/egrajeda/angular-forms-comparison/tree/master/src/app/{{ github }}">View Source on Github</a>
        {% endif %}
    </div>

    {{ content | safe }}
</div>

<div class="form-example">
    {{ example | safe }}
</div>

<link rel="stylesheet"
      href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/11.2.0/styles/base16/tomorrow-night.min.css">
<script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/11.2.0/highlight.min.js"></script> 
<script>hljs.highlightAll();</script>