---
layout: default-generated.njk
---

<div class="intro">
    <h1>Simple Form</h1>
    <p>
        A user form that asks for the name, birth date and favorite color. It
        binds the HTML fields to the corresponding properties in the Typescript
        file. It includes basic validation, and the form can only be submitted
        when the validation passes.
    </p>

    <p>
        <a href="simple-form-template">Template-based</a> |
        <a href="simple-form-reactive">Reactive</a>
    </p>
</div>