---
layout: default-generated.njk
---

<div class="intro">
    <h1>Simple Form</h1>
    <p>
        A user form that asks for the name, birth date and favorite color. It
        binds the HTML fields to the corresponding properties in the Typescript
        file. It includes basic validation, and the form can only be submitted
        when the validation passes.
    </p>

    <p>
        <a href="simple-form-template">Template-based</a> |
        <a href="simple-form-reactive">Reactive</a> |
        <a href="simple-form-ngxs">NGXS</a> |
        <a href="simple-form-ngxs-plugin">NGXS with Forms plugin</a>
    </p>

    <h1>Custom Validation</h1>
    <p>
        A customer request form that asks for a valid customer ID, a date which
        is not in 2020, and a non-empty message. It includes a custom validation
        with no parameters to validate the customer ID, and another one with one
        parameter to validate the date.
    </p>

    <p>
        <a href="custom-validation-template">Template-based</a> |
        <a href="custom-validation-reactive">Reactive</a> |
        <a href="custom-validation-ngxs">NGXS</a> |
        <a href="custom-validation-ngxs-plugin">NGXS with Forms plugin</a>
    </p>

    <h1>Custom Async Validation</h1>
    <p>
        A sign up form that asynchronously validates the username is not already
        taken.
    </p>

    <p>
        <a href="async-validation-template">Template-based</a> |
        <a href="async-validation-reactive">Reactive</a>
    </p>
</div>