---
layout: example.njk
example: <app-user-form-template></app-user-form-template>
---

<pre><code>
// The main things to notice are:
//   1. Use [(ngModel)] for two-way binding.
//   2. Access each field validation errors through ngModel.
//   3. Access the form validation state through ngForm.
</code></pre>

{% src 'app/simple-form/user.ts' %}
{% src 'app/simple-form/user.service.ts' %}
{% src 'app/simple-form/user-form-template/user-form-template.component.html' %}
{% src 'app/simple-form/user-form-template/user-form-template.component.ts' %}