---
layout: example.njk
example: <app-user-form-template></app-user-form-template>
documentation: https://angular.io/guide/forms
github: simple-form/user-form-template
---

<div class="preface">
    <h1>Highlights</h1>
    <p>
        <ol>
            <li>Use the [(ngModel)] attribute for two-way binding.</li>
            <li>Access each field validation errors through ngModel.</li>
            <li>Access the form validation state through ngForm.</li>
        </ol>
    </p>
</div>

{% src 'app/simple-form/user.ts' %}
{% src 'app/simple-form/user-form-template/user-form-template.component.html' %}
{% src 'app/simple-form/user-form-template/user-form-template.component.ts' %}
{% src 'app/simple-form/user.service.ts' %}