---
layout: example.njk
example: <app-user-form-reactive></app-user-form-reactive>
documentation: https://angular.io/guide/reactive-forms
github: simple-form/user-form-reactive
---

<div class="preface">
    <h1>Highlights</h1>
    <p>
        <ol>
            <li>Use FormBuilder and bind it to the form with the [formGroup] attribute.</li>
            <li>Use the formControlName attribute to bind each field to its form control.</li>
            <li>Create one getter per form control for easier access.</li>
            <li>Access each field validation errors through its getter.</li>
            <li>Access the form validation state through the form.</li>
        </ol>
    </p>
</div>

{% src 'app/simple-form/user.ts' %}
{% src 'app/simple-form/user-form-reactive/user-form-reactive.component.html' %}
{% src 'app/simple-form/user-form-reactive/user-form-reactive.component.ts' %}
{% src 'app/simple-form/user.service.ts' %}