---
layout: example.njk
example: <app-user-form-reactive></app-user-form-reactive>
---

<pre><code>
// The main things to notice are:
//   1. Use FormBuilder and bind it to the form with the [formGroup] attribute.
//   2. Use the formControlName attribute to bind each field to its form control.
//   3. Create one getter per form control for easier access.
//   4. Access each field validation errors through its getter.
//   5. Access the form validation state through the form.
</code></pre>

{% src 'app/simple-form/user.ts' %}
{% src 'app/simple-form/user.service.ts' %}
{% src 'app/simple-form/user-form-reactive/user-form-reactive.component.html' %}
{% src 'app/simple-form/user-form-reactive/user-form-reactive.component.ts' %}